force-app/main/default/flows/create_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>contact</name>
        <choiceText>contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>opportunity</name>
        <choiceText>opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>create_record2</name>
        <label>create record2</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_con</targetReference>
            </connector>
            <label>is contact</label>
        </rules>
        <rules>
            <name>is_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opp</targetReference>
            </connector>
            <label>is opportunity</label>
        </rules>
    </decisions>
    <interviewLabel>create record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>create_contact_or_opportunity</name>
        <label>create contact or opportunity</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_record2</targetReference>
        </connector>
        <fields>
            <name>create_record</name>
            <choiceReferences>contact</choiceReferences>
            <choiceReferences>opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>create record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_contact_or_opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>create_con</name>
        <label>create con</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>create_contact2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <flowName>Create_opp2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
