force-app/main/default/flows/updateOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignDeadlinedate</name>
        <label>assignDeadlinedate</label>
        <locationX>1045</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>iterateLoopOverOver.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deadlinedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignoppRecordToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignoppRecordToList</name>
        <label>assignoppRecordToList</label>
        <locationX>893</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>oppListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateLoopOverOver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateLoopOverOver</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckoppListSize</name>
        <label>CheckoppListSize</label>
        <locationX>638</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateLoopOverOver</targetReference>
            </connector>
            <label>CheckSize</label>
        </rules>
    </decisions>
    <interviewLabel>updateOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateOpp</label>
    <loops>
        <name>iterateLoopOverOver</name>
        <label>iterateLoopOverOver</label>
        <locationX>783</locationX>
        <locationY>119</locationY>
        <collectionReference>oppList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignDeadlinedate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateopp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>GetOpportunities</label>
        <locationX>452</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckoppListSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost  </stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oppList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateopp</name>
        <label>updateopp</label>
        <locationX>682</locationX>
        <locationY>347</locationY>
        <inputReference>oppListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deadlinedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
